nav{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
div{
    display: flex;
    gap: 30px;
    a{
        font-size: 1.3em;
        color: black;
        text-decoration: none;
        font-family: PoppinsSB;
    }
    a:hover{
        color: #9D4EDD;
        transition: color, scale 0.4s, 0.3s ease-out;
        scale: 1.1;
    }
}
