<nav class="w-full bg-transparent flex justify-between items-center px-6 h-auto py-6">
    <a href="/" class="bg-[#14213D] dark:bg-[#FCA311] rounded-full p-2"><img src="/mate.png" alt="Logo Mateify" class="dark:invert-0 invert w-16"></a>
    <div class="w-1/4 flex justify-evenly text-white text-lg font-semibold">
        <a [routerLink]="['/about']" class="p-2 max-w-30 bg-[#14213D] hover:bg-[#FCA311] dark:bg-[#FCA311] dark:hover:bg-[#14213D] transition-colors ease-linear rounded-xl px-6">
            <fa-icon [icon]="faInfo" class="pr-3"></fa-icon>
            Nosotros
        </a>
        <a [routerLink]="['/movies']" class="p-2 max-w-30 bg-[#14213D] hover:bg-[#FCA311] dark:bg-[#FCA311] dark:hover:bg-[#14213D] transition-colors ease-linear rounded-xl px-6">
            <fa-icon [icon]="faClapperboard" class="pr-3"></fa-icon>
            Ver peliculas
        </a>
        <button (click)="toggleTheme()" class="bg-[#14213D] dark:bg-[#FCA311] transition-colors  ease-linear p-2 rounded-full w-14">
            @if(theme=='light'){
                <fa-icon [icon]="faSun"></fa-icon>
            }@else {
                <fa-icon [icon]="faMoon"></fa-icon>
            }
        </button>
    </div>
</nav>
