.header{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    h1{
        font-size: 70px;
        font-family: PoppinsBold;
    }
    p{
        font-size: 25px;
        font-family: Afacad;
    }
}