section{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    h3{
        font-size: 60px;
        font-family: poppinsBold;
    }
    h4{
        font-size: 30px;
        font-family: poppinsSB;
        margin-top: 30px;
    }
    span{
        color: #FF8500;
    }
    p{
        font-size: 25px;
        font-family: Afacad;
    }
    a{
        color: #FF8500;
        text-decoration: none;
    }
    a:hover{
        color: #3C096C;
        transition: color 0.3s linear;
    }
}