<section class="glass-section">
    <h2>Glass Section</h2>
    <body class="container">
        <article>
            <h3>Glassmorphism? What?</h3>
            <p>Is a UI design trend that features translucent interface components to create depth. It gained popularity in the early 2020s 
                in the desing world and, today, is still widely used in web design. It has a funny and playful while modern look and feel.
                This trend also allows you to play with background images, colours, shapes, etc. Everything can look god if you have the eye
                to combine a beautiful background with a marked and pretty solid interface.</p>
        </article>
    </body>
</section>