<section>
    <h2>Only the best. For the best.</h2>
    <h5>Yes, everything is "bento grid" now, isn't it?</h5>
    @defer (on viewport) {
        <article class="container" id="display">
            <div class="box box1"></div>
            <div class="box box2"></div>
            <div class="box box3"></div>
            <div class="box box4"></div>
            <div class="box box5"></div>
            <div class="box box6"></div>
            <div class="box box6"></div>
            <div class="box box7"></div>
            <h3>...and much more.</h3>
        </article>
    }@placeholder{
        <div class="placeholder">
            <fa-icon [icon]="loader" size="5x" animation="spin"></fa-icon>
        </div>
    }@loading {
        <div class="placeholder">
            <fa-icon [icon]="loader" size="5x" animation="spin"></fa-icon>
        </div>   
    }
</section>
