<section>
    <h2>All trends. In one place.</h2>
    <h5>Choose the style that fit's your dream website the best</h5>
    @defer (on viewport; prefetch on immediate) {
        <article class="container" id="display">
            <div class="box box1">
                <p>Fresh</p>
            </div>
            <div class="box box2">
                <p>Brutalism</p>
            </div>
            <div class="box box3">
                <p>Retro</p>
            </div>
            <div class="box box4">
                <p>Minimalism</p>
            </div>
            <div class="box box5">
                <p>Gradients</p>
            </div>
            <div class="box box6">
                <p>B&W</p>
            </div>
            <div class="box box7">
                <p>Urban</p>
            </div>
            <h3>...and much more.</h3>
        </article>
    }@placeholder{
        <div class="placeholder">
            <fa-icon [icon]="loader" size="5x" animation="spin"></fa-icon>
        </div>
    }@loading {
        <div class="placeholder">
            <fa-icon [icon]="loader" size="5x" animation="spin"></fa-icon>
        </div>   
    }
</section>
