<section>
    <header>
        <h1>About <span>Mateify</span></h1>
        <h3>Who are we?</h3>
    </header>
    <section class="gallery">
        <article>
            <div>
                <h1>We <span>design</span> your dreams</h1>
                <p>You can trust in our talented team of designers to make sure EVERYTHING it's like you want</p> 
            </div>
            <img src="/Designer-life-bro.svg" alt="Image of a designer's life">
        </article>
        <article>
            <img src="/Designer-life-pana.svg" alt="Another image of a designer's life">
            <div>
                <h1>We <span>build</span> brands from scratch</h1>
                <p>The most important, powerful and famous brands were built in a simple garage, a small studio or even in a bedroom. One of our best attributes is our simplicity
                    and our motivation to improve the web a step at a time.
                </p>
            </div>
        </article>
        <article>
            <div>
                <h1>We think, develop and <span>commit</span></h1>
                <p>We are a team of developers, designers, and marketing experts who are passionate about creating innovative and user-friendly products 
                    that make a difference in the world. We are looking forward to work with you!</p>
            </div>
            <img src="/Blog-post-amico.svg" alt="Image of a developer's life"> 
        </article>
    </section>
    <section class="contact">
        <h1>So? Did we convinced you?</h1>
        <h2>...no?</h2>
        <p>Well...could you try again? Explore with your eyes open this time. <a [routerLink]='["/"]' class="back-link">Come on, let's go back.</a></p>
    </section>
</section>