<header class="flex flex-col text-center p-16">
    <h1 class="text-4xl font-robtop-bold">Sobre Nosotros</h1>
    <div class="w-full prose dark:prose-invert flex items-center justify-center text-center">
        <p class="text-xl">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Facere, doloribus maxime ex minus, culpa quaerat totam nam vero sapiente quo itaque fugit! Illum ipsa eveniet obcaecati corrupti, in ducimus quia!
        </p>       
    </div>
    <a href="/" class="text-xl underline">← Volver atrás</a>
</header>