<section>
    <header>
        <h1>About <span>Mateify</span></h1>
        <h3>Who are we?</h3>
    </header>
    <section class="gallery">
        <article>
            <div>
                <h1>We design</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Rem reiciendis libero aut. Reprehenderit similique magnam maxime fugiat placeat. 
                    Praesentium quasi illo beatae consequatur repudiandae nisi eos, veniam assumenda fuga quas?
                </p>
            </div>
            <img src="/Designer-life-bro.svg" alt="Image of a designer's life">
        </article>
        <article>
            <img src="/Designer-life-pana.svg" alt="Another image of a designer's life">
            <div>
                <h1>We drink coffee (?</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Rem reiciendis libero aut. Reprehenderit similique magnam maxime fugiat placeat. 
                    Praesentium quasi illo beatae consequatur repudiandae nisi eos, veniam assumenda fuga quas?
                </p>
            </div>
        </article>
        <article>
            <div>
                <h1>We build, develop and commit</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Rem reiciendis libero aut. Reprehenderit similique magnam maxime fugiat placeat. 
                    Praesentium quasi illo beatae consequatur repudiandae nisi eos, veniam assumenda fuga quas?
                </p>
            </div>
            <img src="/Blog-post-amico.svg" alt="Image of a developer's life"> 
        </article>
    </section>
</section>