<section class="flex flex-col items-center justify-center h-[80vh] p-20">
    <h1 class="text-4xl font-robtop-bold my-10">Inicia sesión en Mateify🧉</h1>
    <div class="flex flex-col items-center justify-center p-20">
        <form action="submit" class="w-2/3">
            <label for="username" class="text-xl">Usuario</label>
            <input type="text" placeholder="Ej: Juan Doe" class="w-full p-2 text-xl border-2 border-gray-400 rounded-lg">
            <label for="password" class="text-xl">Contraseña</label>
            <input type="password" placeholder="*********" class="w-full p-2 text-xl border-2 border-gray-400 rounded-lg">
            <button type="submit" class="w-full mt-10 p-2 text-xl text-white border-2 border-black dark:border-white bg-[#31572C] rounded-lg">Iniciar sesión</button>
        </form>
        <a href="/" class="text-xl underline mt-4">← Volver atrás</a>
    </div>
</section>
