<header class="flex flex-col text-center p-16">
    <section class="p-20">
        <h1 class="text-5xl font-robtop-black py-6">Mateify🧉</h1>
        <h2 class="text-2xl font-mont-md">Administrá tus gastos, visualizá tus consumos y organizate con mate en mano.</h2>
        <div class="flex flex-row items-center justify-center gap-8 mt-16">
            <a href="/login" class="text-2xl text-white font-robtop-bold p-5 bg-gradient-to-br from-[#90A955] to-[#31572C] hover:bg-gradient-to-b rounded-2xl">Empezá hoy!</a>
            <a href="/about" class="text-base text-white font-medium p-4 bg-[#31572C] rounded-2xl">Conocenos!</a>
        </div>
    </section>

</header>
